<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.java4all.dao.BankDao">
  <resultMap id="resMap" type="com.java4all.entity.Bank">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="id" jdbcType="INTEGER" property="id" />
    <result column="money" jdbcType="DECIMAL" property="money" />
    <result column="frozen" jdbcType="DECIMAL" property="frozen" />
  </resultMap>

  <update id="decreaseMoney">
    UPDATE bank SET frozen = frozen + #{money}
    WHERE id = #{id}
  </update>

  <update id="confirmDecreaseMoney">
    UPDATE bank SET money = money - #{money},frozen = frozen - #{money}
    WHERE id = #{id}
  </update>

  <update id="cancelDecreaseMoney">
    UPDATE bank SET frozen = frozen - #{money}
    WHERE id = #{id}
  </update>
</mapper>
